*,
html{
    margin: 0;
    padding: 0;
}

.background{
    background-color: #f8c15b;
}


/* NAVBAR */
.container-navbar {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
    align-items: center;
    background-color: #FFB200;
    height: 11vh;
    padding: 0 20px; /* Add padding for spacing */
}

.ul-navbar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.li-navbar {
    margin: 0 10px; /* Adjust spacing between items */
}

.a-navbar {
    text-decoration: none;
    color: #333; /* Darker text for better contrast */
    font-size: 16px; /* Adjust font size as needed */
    font-weight: bold;
}

.li-navbar:hover .a-navbar {
    color: #fff;
    background-color: #FFA500; /* Slightly darker hover color */
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}


/* NAVBAR END */



/* CONTENT */
.h-fasilitas{
    text-align: center;
    
}
/* CONTENT END */